*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* BACKGROUND html ********************************************** */
html{
    background-image: url(image/silver.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
/* NAV ********************************************************* */
.menu{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background: rgba(81, 81, 82, 0.7);
    position: fixed;
    top: 0;
    width: 100%;
}

.rezervation{
    text-decoration: none;
    color:azure;
}
.rezervation:hover{
    color: #ceac92 ;
}

.item{
    padding: 10px;
    color: azure;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.item:hover{
    background-color: #BD4291;
    border-radius: 10px;
}

.start{
    margin-right: auto;
    margin-left: 10px;
    margin-top: 8px;
    color: #ceac92; 
} 

.btn{
    padding: 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color:  #ceac92;
    color: #d6e6f2;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}
.btn:hover{
    background-color:  #BD4291;
    color: #ceac92 ;
    cursor: pointer;
}

/* HEADING IMAGE AND TEXT ******************************** */
.heading{
    display: flex;
    background-image: url(image/heading.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px;
}

.book{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin-right: 10%;
}

.beauty{
    
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin-left: 40px;
    margin-top: 10px;
    color: #ceac92;
}

.liv{
    font-size: 80px;
    margin-left: 40px;
    margin-top: 10px;
}

hr{
    border: none;
    background-color: #ceac92;
    height: 3px;
}

/* SOLD 15% *************************************************** */
.sold{
    padding: 5px;
    font-size: 30px;
    font-weight: bolder;
    background: rgba(205, 214, 219, 0.9);
    top: 0;
    width: 100%;
    color: #BD4291;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

/* SALONS***************************************************** */
.papa{
    display: flex;
    margin: 0 auto;
    background: rgba(82, 83, 83, 0.5);
    background-size: cover;
    width: 100%;
    }

.futter{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    flex: 1;
}

.ronde{
    border-radius: 100%;
}

h3, img {
    align-self: center;
    color: azure;
    text-transform: uppercase;
    text-align: center;
}

.tel{
    color: azure;
    text-decoration: none;
}
.tel:hover{
    padding: 15px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color:  #ceac92;
    color: #d6e6f2;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}

/* SERVICES********************************************************** */
.papas{
    background-color: transparent;
}
.sal{
    display: flex;
    justify-content: center;
    background: rgba(82, 83, 83, 0.5);
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    padding: 40px;
    color: #444444;
    -webkit-text-stroke: 1px azure;
    width: 100%;
}
.sals{
    background-color: transparent;
}

/* increase image / augmante l'image */
.scale { 
    transition: 1s; 
}
.scale:hover {
    transform: scale(1.12); 
}

    /* Girl Since 2003 ******************************************** */
    /* animation pictures */
    
.papa2{
    display: flex;
    width: 100%;
    opacity: 0;
    transition: 22220s;
}
.papa2:hover{
        opacity: 1;
        transition: 1s;
}  
    
.news{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}

.news1{
    display: flex;
    flex-direction: column;
    position: absolute; 
    margin-left: 12%;
    margin-top: 12%;
}
.sort{
    width: 100%;
}

.devision{
    margin-top: 30px;
} 
